/* ITW PROJECT 2
Author: Dominik Janiga
xlogin: xjanigd00 */

@import url("./satoshi.css");
@import url("./cabinet-grotesk.css");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.topnav {
  display: none;
  height: 74px;
  font-family: Satoshi-Regular;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}
.topnav #myLinks a {
  color: black;
}

.topnav a {
  font-family: Satoshi-Regular;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  display: block;
}

.topnav a.icon {
  color: white;
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  color: #505050;
}

.active {
  color: black;
}

#bring-it-back {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  bottom: 10px;
  right: 10px;
}

.links {
  align-items: center;
}
.links ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.links ul li {
  margin: 10px;
  list-style: none;
}
.links ul li a {
  color: black;
  text-decoration: none;
}

.socials {
  display: flex;
  flex-direction: row;
}
.socials img {
  margin-right: 15px;
  width: 20px;
}

.section-heading {
  font-family: CabinetGrotesk-Medium;
  font-size: 75px;
  margin: 0;
  padding: 0;
}

#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  font-family: Satoshi-Regular;
}

#hero {
  display: flex;
  height: 800px;
  font-family: Satoshi-Regular;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(45deg, #fdfbfb 0%, #ebedee 100%);
}
#hero #janiga-decoration {
  font-size: 300px;
}
#hero #janiga-decoration a {
  font-family: CabinetGrotesk-Medium;
}
#hero #hero-main {
  align-self: flex-end;
  margin-bottom: 250px;
  margin-left: 50px;
  flex-grow: 1;
}
#hero #hero-main p {
  width: 367px;
  overflow: auto;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 15px;
  color: #505050;
}
#hero #hero-contact {
  font-size: 15px;
  align-self: flex-end;
  text-align: right;
  margin-bottom: 50px;
  margin-right: 50px;
}
#hero #hero-contact p {
  color: #505050;
  margin-top: 5px;
  margin-bottom: 5px;
}
#hero #hero-contact a {
  color: black;
  text-decoration: none;
}

#work {
  height: 1000px;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
  background-image: linear-gradient(-45deg, black 0%, #010101 100%);
}
#work .section-heading {
  color: white;
}
#work .container {
  margin-top: 50px;
}
#work #work-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#work #work-items .item {
  /* display: flex; */
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
  background-color: black;
  background-image: url("../assets/images/placeholder.png");
  height: 600px;
}
#work #work-items .item a {
  font-family: Satoshi-Light;
  font-size: 15px;
  bottom: -30px;
  align-self: flex-end;
  position: relative;
  color: white;
  text-decoration: none;
}

#about {
  height: 1000px;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
}
#about #about-container {
  margin-top: 50px;
}
#about hr {
  border-top: 1px dashed #505050;
}
#about #overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#about #overview .about-left {
  flex-grow: 1;
}
#about #overview .about-left h3 {
  font-family: Satoshi-Regular;
  color: #505050;
  font-size: 15px;
}
#about #overview .about-right {
  font-family: Satoshi-Regular;
  color: black;
}
#about #skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#about #skills .about-left {
  flex-grow: 1;
}
#about #skills .about-left h3 {
  font-family: Satoshi-Regular;
  color: #505050;
  font-size: 15px;
}
#about #skills .about-right {
  font-family: Satoshi-Regular;
  color: black;
}
#about #skills .about-right {
  display: flex;
  flex-direction: row;
}
#about #skills .about-right #categories {
  justify-content: flex-end;
}
#about #skills .about-right .category-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#about #skills .about-right .category-item progress {
  margin-left: 20px;
}
#about #education {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#about #education .about-left {
  flex-grow: 1;
}
#about #education .about-left h3 {
  font-family: Satoshi-Regular;
  color: #505050;
  font-size: 15px;
}
#about #education .about-right {
  font-family: Satoshi-Regular;
  color: black;
}
#about #education .about-right {
  display: flex;
  flex-direction: column;
}
#about #education .about-right .education-item {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
#about #education .about-right .education-item h3, #about #education .about-right .education-item p {
  margin: 0;
  padding: 0;
}

#contact {
  height: 1000px;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
  height: 500px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
}
#contact #mail {
  font-size: 20px;
  font-family: CabinetGrotesk-Medium;
  text-decoration: none;
  color: white;
}
#contact h3 {
  margin: 0;
  padding: 0;
  font-family: Satoshi-Light;
  color: #505050;
  font-size: 25px;
}
#contact h2 {
  margin: 0;
  padding: 0;
  font-family: CabinetGrotesk-Medium;
  color: white;
  font-size: 150px;
}
#contact h2 a {
  text-decoration: none;
  color: white;
}

#footer {
  font-family: Satoshi-Regular;
  height: 100px;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
}
#footer #logo {
  width: 30px;
}
#footer #license {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#footer #license p {
  margin: 0;
  padding: 0;
}

#navbar {
  z-index: 3;
}

#rotateimg {
  z-index: -3;
}

@media screen and (max-width: 1732px) {
  #janiga-decoration {
    display: none;
  }
}
@media screen and (max-width: 690px) {
  #navbar {
    display: none;
  }
  .topnav {
    display: contents;
  }

  #main {
    margin: 0;
    padding: 0;
  }

  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    /* height: 500px; */
  }

  #hero-main {
    margin-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-self: center;
  }

  #hero #hero-main {
    margin-left: 0;
    align-self: center;
    justify-self: center;
  }

  #hero #hero-main p {
    text-align: center;
  }

  #hero #hero-contact {
    font-size: 15px;
    align-self: center;
    text-align: center;
    /* margin-bottom: 50px; */
    margin-right: 50px;
  }

  #contact h2 {
    font-size: 50px;
  }

  #contact h3 {
    font-size: 20px;
  }

  #footer #logo {
    display: none;
  }

  #footer {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    height: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #about #about-container div {

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #work #container #work-items .item{
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
